* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    box-sizing: border-box;
}

body {
    height: 100vh; /* unidade absoluta (vh), aqui ele divide a altura em 100 partes, entao eu pedi para usar 100% da altura do body */
    margin: 0px; /* zerar a margin do body*/
    display: grid; /* especifica a disposição do elemento HTML, aqui no caso vou usar o layout grade(grid) */ 
    grid-template-rows: 1fr ; /* aqui estou definindo 3 linhas, a primeira com 120 pixels, a ultima com 60px e a do meio é 1fr(fragmento) que significa que ele vai ocpar todo o espaço restante  */
    grid-template-columns: 1fr; /* aqui estou inidicando que vai ter apenas uma coluna, vai ocupar inteiro (1fr)  */
    grid-template-areas: "cabecalho" "principal" "rodape"; /*aqui eu estou indicando cada area que vai ter os tamanhos definidos no template rows, tambem sao os mesmas classes definidas no html*/

}
.cabecalho {
    grid-area: cabecalho; /* aqui eu estou indicando que esta propriedade é a que foi criada anteriormente, dai entao ele vai importar o tamanho que foi selecionado  em grid template rows*/
    background-color: #1867c0; 
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.93);
}
.cabecalho > h1 {
    margin: 0px;
    font-weight: 600;
    font-size: 2.0rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 60px); /* aqui eu indico que a altura do area principal vai ocupar tudo, menos o tamanho 180pixels, que é o tamanho do rodape com o cabeçalho*/
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.modulo > h3 {
    margin: 0px;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: blue;
}
#imagem { 
    text-align: center;
    align-items: center;
    width: 200px;  
    height: 200px;
    
}
#foto {
    text-align: center;
}